<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjazn.product.mapper.GoodsTopMapper">
    <!--查询关注指定商品的人数-->
    <select id="getGoodsFollowNumber" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*) AS counts FROM goods_top WHERE goods_id=#{goods_id};
    </select>

</mapper>
