<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjazn.store.mapper.StoreMapper">
    <select id="getStorePraisePercentage" parameterType="java.lang.String" resultType="java.lang.Float" >
        SELECT AVG(star)  FROM star where store_id=#{store_id}  GROUP BY store_id;
    </select>
</mapper>
